<p id="notice"><%= notice %></p>

<h1><%=	t(:summary) %></h1>

<table>
  <thead>
    <tr>
      <th><%=	t(:code) %></th>
      <th><%=	t(:label) %></th>
      <th><%=	t(:estimated_start_at) %></th>
      <th><%=	t(:estimated_end_at) %></th>
      <th><%=	t(:estimated_duration) %></th>
      <th><%=	t(:real_start_at) %></th>
      <th><%=	t(:real_end_at) %></th>
      <th><%=	t(:real_duration) %></th>
      <th><%=	t(:percent_progress) %></th>
      <th><%=	t(:ratio) %></th>
      <th><%=	t(:remaining) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.code %></td>
        <td><%= task.label %></td>
        <td><%= task.estimated_start_at %></td>
        <td class="<%= task.exceeded_day? ? 'alert' : ''%>">
          <%- if task.exceeded_day? %>
              <i class="fi-alert"/>
          <%- end %>
          <%= task.estimated_end_at %></td>
        <td><%= task.estimated_duration %></td>
        <td><%= task.real_start_at %></td>
        <td class="<%= task.exceeded_end_date? ? 'alert' : ''%>">
          <%- if task.exceeded_end_date? %>
            <i class="fi-alert"/>
          <%- end %>
          <%= task.real_end_at %>
        </td>
        <td class="<%= task.exceeded? ? 'warning': ''%>">
          <%- if task.exceeded? %>
            <i class="fi-alert"/>
          <%- end %>
          <%= task.real_duration %></td>
        <td><%= progress task.percent_progress %></td>
        <td><%= task.ratio.round(2) %></td>
        <td><%= task.remaining %></td>
        <td><%= link_to t(:show), project_task_path(@project, task) %></td>
        <td><%= link_to t(:edit), edit_project_task_path(@project, task) %></td>
        <td><%= link_to t(:destroy), project_task_path(@project, task), method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_task), new_project_task_path, class: 'button' %>
