<p id="notice"><%= notice %></p>

<h1>Récapitulatif</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Label</th>
      <th>Estimated start at</th>
      <th>Estimated end at</th>
      <th>Estimated duration</th>
      <th>Real start at</th>
      <th>Real end at</th>
      <th>Real duration</th>
      <th>Percent progress</th>
      <th>Ratio</th>
      <th>Restant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.code %></td>
        <td><%= task.label %></td>
        <td><%= task.estimated_start_at %></td>
        <td><%= task.estimated_end_at %></td>
        <td><%= task.estimated_duration %></td>
        <td><%= task.real_start_at %></td>
        <td><%= task.real_end_at %></td>
        <td><%= task.real_duration %></td>
        <td><%= progress task.percent_progress %></td>
        <td><%= task.ratio.round(2) %></td>
        <td><%= task.remaining %></td>
        <td><%= link_to 'Show', project_task_path(@project, task) %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project, task) %></td>
        <td><%= link_to 'Destroy', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle tâche', new_project_task_path, class: 'button' %>
