<p id="notice"><%= notice %></p>

<h1 class="title"><%=	t(:summary, scope: 'actions') %></h1>

<table>
  <thead>
    <tr>
      <th><%=	t(:label, scope: 'actions') %></th>
      <th><%=	t(:estimated_start_at, scope: 'actions') %></th>
      <th><%=	t(:estimated_end_at, scope: 'actions') %></th>
      <th><%=	t(:real_start_at, scope: 'actions') %></th>
      <th><%=	t(:real_end_at, scope: 'actions') %></th>
      <th><%=	t(:estimated_duration, scope: 'actions') %></th>
      <th><%=	t(:real_duration, scope: 'actions') %></th>
      <th><%=	t(:remaining, scope: 'actions') %></th>
      <th><%=	t(:percent_progress, scope: 'actions') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><span class="code"><%= task.code %></span>
        <span class="code-label"><%= task.label %></span></td>
        <td><%= date task.estimated_start_at %></td>
        <td class="<%= task.exceeded_day? ? 'alert' : ''%>">
          <%- if task.exceeded_day? %>
              <i class="fi-alert"/>
          <%- end %>
          <%= task.estimated_end_at %></td>
        <td><%= task.real_start_at %></td>
        <td class="<%= task.exceeded_end_date? ? 'alert' : ''%>">
          <%- if task.exceeded_end_date? %>
            <i class="fi-alert"/>
          <%- end %>
          <%= task.real_end_at %>
        </td>
        <td><%= task.estimated_duration %></td>
        <td class="<%= task.exceeded? ? 'warning': ''%>">
          <%- if task.exceeded? %>
            <i class="fi-alert"/>
          <%- end %>
          <%= task.real_duration %></td>
        <td><span class="<%= task.remaining > 0 ? 'lbl-success' : 'lbl-alert' %>" ><%= task.remaining %></span><span> (<%= task.ratio.round(2)%>)</span></td>
        <td><%= progress task.percent_progress %></td>
        <td><%= link_to "<i class='fi-pencil'></i>".html_safe, edit_project_task_path(@project, task) %> <%= link_to "<i class='fi-x'></i>".html_safe, project_task_path(@project, task), method: :delete, data: { confirm: t(:confirm, scope: 'actions') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="actions">
  <%= link_to t(:new_task, scope: 'actions'), new_project_task_path, class: 'button' %>
</div>
