<p id="notice"><%= notice %></p>

<h1 class="title"><%= "#{t(:task, scope: 'actions')} \"#{@task.label}\" (#{@task.code})" %>
  <%= link_to t(:edit_task, scope: 'actions'), edit_project_task_path(@project, @task), class: 'button', style: 'float:right' %>

</h1>

<div class="row">
  <div class="small-6 callout columns">

    <table>
      <thead>
      <tr>
        <th><%= t(:estimated_start_at, scope: 'actions') %></th>
        <th><%= t(:real_start_at, scope: 'actions') %></th>
      </tr>
      </thead>

      <tbody>
      <tr>

        <td><%= date @task.estimated_start_at %></td>
        <td><%= date @task.real_start_at %></td>

      </tr>
      </tbody>
    </table>

    <table>
      <thead>
      <tr>
        <th><%= t(:estimated_end_at, scope: 'actions') %></th>
        <th><%= t(:real_end_at, scope: 'actions') %></th>
      </tr>
      </thead>

      <tbody>
      <tr>

        <td class="<%= @task.exceeded_day? ? 'alert' : '' %>">
          <%- if @task.exceeded_day? %>
              <i class="fi-alert"/>
          <%- end %>
          <%= date @task.estimated_end_at %></td>
        <td class="<%= @task.exceeded_end_date? ? 'alert' : '' %>">
          <%- if @task.exceeded_end_date? %>
              <i class="fi-alert"/>
          <%- end %>
          <%= date @task.real_end_at %>
        </td>

      </tr>
      </tbody>
    </table>

    <table>
      <thead>
      <tr>
        <th><%= t(:estimated_duration, scope: 'actions') %></th>
        <th><%= t(:real_duration, scope: 'actions') %></th>
      </tr>
      </thead>

      <tbody>
      <tr>

        <td><%= @task.estimated_duration %></td>
        <td class="<%= @task.exceeded? ? 'warning' : '' %>">
          <%- if @task.exceeded? %>
              <i class="fi-alert"/>
          <%- end %>
          <%= @task.real_duration %></td>

      </tr>
      </tbody>
    </table>


  </div>
  <div class="small-6 callout columns" style="min-height: 397px;">
    <div class="row columns <%= @task.remaining > 0 ? 'lbl-success' : 'lbl-alert' %> stat"><%= @task.remaining %> h</div>
    <div class="row columns ratio"><%= @task.real_duration %> / <%= @task.estimated_duration %> = <%= @task.ratio.round(2) %></div>
    <div class="row columns ratio"><%= @task.cost %> €</div>
    <div class="row columns progressing"><%= progress @task.percent_progress %></div>
    </div>
</div>

<div class="row">
  <div class="small-6 callout columns">
    <div id="container-task-activities" data-series="<%= @task_activities_series.to_json %>">
    </div>
  </div>
  <div class="small-6 callout columns">
    <div id="container-task-workers" data-series="<%= @task_workers_series.to_json %>">
    </div>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th><%= t(:date, scope: 'actions') %></th>
    <th><%= t(:worker, scope: 'actions') %></th>
    <th><%= t(:num_hours, scope: 'actions') %></th>
    <th><%= t(:task, scope: 'actions') %></th>
    <th><%= t(:observation, scope: 'actions') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody id="activities">
  <% @task.activities.each do |activity| %>
      <%= render partial: 'activities/activity_row', locals: {activity: activity} %>
  <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
