<p id="notice"><%= notice %></p>

<p>
  <strong><%=	t(:code) %>:</strong>
  <%= @task.code %>
</p>

<p>
  <strong><%=	t(:label) %>:</strong>
  <%= @task.label %>
</p>

<p>
  <strong><%=	t(:estimated_start_at) %>:</strong>
  <%= @task.estimated_start_at %>
</p>

<p>
  <strong><%=	t(:estimated_end_at) %>:</strong>
  <%= @task.estimated_end_at %>
</p>

<p>
  <strong><%=	t(:estimated_duration) %>:</strong>
  <%= @task.estimated_duration %>
</p>

<p>
  <strong><%=	t(:real_start_at) %>:</strong>
  <%= @task.real_start_at %>
</p>

<p>
  <strong><%=	t(:real_end_at) %>:</strong>
  <%= @task.real_end_at %>
</p>

<p>
  <strong><%=	t(:real_duration) %>:</strong>
  <%= @task.real_duration %>
</p>

<p>
  <strong><%=	t(:percent_progress) %>:</strong>
  <%= @task.percent_progress %>
</p>

<p>
  <strong><%=	t(:ratio) %>:</strong>
  <%= @task.ratio %>
</p>

<%= link_to t(:edit_task), edit_project_task_path(@project, @task), class: 'button' %>
<%= link_to t(:back), project_tasks_path(@project), class: 'button secondary' %>
