<p id="notice"><%= notice %></p>

<h1><%=	t(:list_category) %></h1>

<div class="small-2 large-6">
  <table>
    <thead>
    <tr>
      <th><%=	t(:name) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.label %></td>
        <td><%= link_to t(:show), family %></td>
        <td><%= link_to t(:edit), edit_family_path(family) %></td>
        <td><%= link_to t(:destroy), family, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<br>

<%= link_to t(:new_category), new_family_path, class: 'button' %>
