<p id="notice"><%= notice %></p>

<h1 class="title"><%=	t(:list_category, scope: 'actions') %></h1>

<div>
  <table>
    <thead>
    <tr>
      <th><%=	t(:name, scope: 'actions') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.label %></td>
        <td><%= link_to "<i class='fi-pencil'></i>".html_safe, edit_family_path(family) %> <%= link_to "<i class='fi-x'></i>".html_safe, family, method: :delete, data: { confirm: t(:confirm, scope: 'actions') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<div class="actions">

<%= link_to t(:new_category, scope:'actions'), new_family_path, class: 'button' %>
</div>