<p id="notice"><%= notice %></p>

<p>
  <strong><%=	t(:label, scope: 'actions') %>:</strong>
  <%= @family.label %>
</p>

<%= link_to t(:edit_category, scope: 'actions'), edit_family_path(@family), class: 'small button' %>
<%= link_to t(:back, scope: 'actions'), families_path, class: 'small secondary button' %>
