<p id="notice"><%= notice %></p>

<p>
  <strong><%=	t(:label) %>:</strong>
  <%= @setting.label %>
</p>

<p>
  <strong><%=	t(:value) %>:</strong>
  <%= @setting.value %>
</p>

<%= link_to t(:edit_setting), edit_setting_path(@setting) %> |
<%= link_to t(:back), settings_path %>
