<p id="notice"><%= notice %></p>

<p>
  <strong><%=	t(:label, scope: 'actions') %>:</strong>
  <%= @setting.label %>
</p>

<p>
  <strong><%=	t(:value, scope: 'actions') %>:</strong>
  <%= @setting.value %>
</p>

<%= link_to t(:edit_setting, scope: 'actions'), edit_setting_path(@setting) %> |
<%= link_to t(:back, scope: 'actions'), settings_path %>
