<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is close</th>
      <th>Estimated start at</th>
      <th>Estimated end at</th>
      <th>Estimated duration</th>
      <th>Real start at</th>
      <th>Real end at</th>
      <th>Real duration</th>
      <th>Difference hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.is_close %></td>
        <td><%= project.estimated_start_at %></td>
        <td><%= project.estimated_end_at %></td>
        <td><%= project.estimated_duration %></td>
        <td><%= project.real_start_at %></td>
        <td><%= project.real_end_at %></td>
        <td><%= project.real_duration %></td>
        <td><%= project.difference_hour %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="row">
  <% @projects.each do |project| %>
      <div class="columns small-4 large-3 project-container">
        <div class="callout">
          <h5><%= link_to project.name, project_path(project)%></h5>
        </div>
      </div>
  <% end %>
</div>

<%= link_to 'New Project', new_project_path, class: "button newProject" %>
