<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:name) %>:</strong>
  <%= @project.name %>
</p>

<p>
  <strong><%= t(:is_close) %>:</strong>
  <%= @project.is_close %>
</p>

<p>
  <strong><%= t(:estimated_start_at) %>:</strong>
  <%= @project.estimated_start_at %>
</p>

<p>
  <strong><%= t(:estimated_end_at) %>:</strong>
  <%= @project.estimated_end_at %>
</p>

<p>
  <strong><%= t(:estimated_duration) %>:</strong>
  <%= @project.estimated_duration %>
</p>

<p>
  <strong><%= t(:real_start_at) %>:</strong>
  <%= @project.real_start_at %>
</p>

<p>
  <strong><%= t(:real_end_at) %>:</strong>
  <%= @project.real_end_at %>
</p>

<p>
  <strong><%= t(:real_duration) %>:</strong>
  <%= @project.real_duration %>
</p>

<p>
  <strong><%= t(:difference_hour) %>:</strong>
  <%= @project.difference_hour %>
</p>

<%= link_to t(:edit), edit_project_path(@project) %> |
<%= link_to t(:back), projects_path %>
