%h1.title
  Synthèse
  =link_to t(:export_project, scope: 'actions'), export_project_path(@project, format: :xlsx), class: 'button', style: 'float:right'


.row
  %div.small-4.callout.columns.counter
    .value= @project.exceeded? ? "<i class='fi-x x-indicator'></i>".html_safe : "<i class='fi-check check-indicator'></i>".html_safe
    .name= @project.exceeded? ? 'délais dépassés' : 'Tout va bien'

  %div.small-2.callout.columns.counter
    .value= "#{@project.tasks.count}"
    .name tâches

  %div.small-2.callout.columns.counter
    .value= "#{@project.tasks.collect{|task| task.activities.collect(&:worker)}.flatten.uniq.count}"
    .name collaborateurs

  %div.small-2.callout.columns.counter
    .value= "#{@project.real_duration}"
    .name heures passées
  %div.small-2.callout.columns.counter
    .value= "#{@project.cost} €"
    .name au total


.row
  %div.small-12.small-centered.callout
    %div#container-duration-tasks.duration-tasks{data: {series: @duration_tasks_series.to_json, categories: @tasks_list}}

.row
  %div.small-12.small-centered.callout
    %div#container-chart-activities.charts-activities{data: {series: @activities_series.to_json, categories: @dates}}

.row
  %div.small-6.callout.columns
    %div#container-chart-tasks.charts-tasks{data: {series: @tasks_series.to_json }}

  %div.small-6.callout.columns
    %div#container-family-tasks.families-tasks{data: {series: @families_series.to_json }}


.row
  %div.small-4.callout.columns
    %div#container-cost-task.cost-task{data: {series: @cost_task_series.to_json }}

  %div.small-4.callout.columns
    %div#container-cost-family.cost-task{data: {series: @cost_family_series.to_json }}

  %div.small-4.callout.columns
    %div#container-cost-worker.cost-task{data: {series: @cost_worker_series.to_json }}
