<%= simple_form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error", scope: 'actions') %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: t(:name, scope: 'actions') %>
  <%= f.input :cost_hour,label: t(:cost_hour, scope: 'actions') %>
  <%= f.button :submit, class: 'success button', value: action %>
<% end %>
