<p id="notice"><%= notice %></p>

<h1 class="title"><%=	t(:list_worker, scope: 'actions') %></h1>

<div>
  <table>
    <thead>
    <tr>
      <th><%=	t(:name, scope: 'actions') %></th>
      <th><%=	t(:cost_hour, scope: 'actions') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.cost_hour %></td>
        <td><%= link_to "<i class='fi-pencil'></i>".html_safe, edit_worker_path(worker) %> <%= link_to "<i class='fi-x'></i>".html_safe, worker, method: :delete, data: { confirm: t(:confirm, scope: 'actions') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<div class="actions">
  <%= link_to t(:new_worker, scope: 'actions'), new_worker_path, class: "button newWorker" %>
</div>