<p id="notice"><%= notice %></p>

<h1>Liste des collaborateurs</h1>

<div class="small-2 large-8">
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Coût par heure</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.cost_hour %></td>
        <td><%= link_to 'Voir', worker, class: "show" %></td>
        <td><%= link_to 'Editer', edit_worker_path(worker) %></td>
        <td><%= link_to 'Supprimer', worker, method: :delete, data: { confirm: 'Êtes-vous sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to 'Nouveau collaborateur', new_worker_path, class: "button newWorker" %>
