<p id="notice"><%= notice %></p>

<p>
  <strong>Prénom:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Coût par heure:</strong>
  <%= @worker.cost_hour %>
</p>

<%= link_to 'Editer', edit_worker_path(@worker), class: 'button' %>
<%= link_to 'Retour', workers_path, class: 'button secondary' %>
