<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @worker.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @worker.lastname %>
</p>

<p>
  <strong>Cost hour:</strong>
  <%= @worker.cost_hour %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker), class: 'button' %> |
<%= link_to 'Back', workers_path, class: 'button secondary' %>
