<p id="notice"><%= notice %></p>

<p>
  <strong><%=	t(:name) %>:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong><%=	t(:cost_hour) %>:</strong>
  <%= @worker.cost_hour %>
</p>

<%= link_to t(:edit_worker), edit_worker_path(@worker), class: 'button' %>
<%= link_to t(:back), workers_path, class: 'button secondary' %>
