%tr{data: {id: activity.id}, class: activity.has_exceeded_worker? ? 'alert': activity.has_exceeded_task? ? 'warning' : '' }
  %td= activity.date_activity.strftime('%d/%m/%Y') unless activity.date_activity.nil?
  %td
    - if activity.has_exceeded_worker?
      %i.fi-alert
    = activity.worker.name unless activity.worker.nil?
  %td= activity.num_hours
  %td
    - if activity.has_exceeded_task?
      %i.fi-alert
    = link_to activity.task.label, project_task_path(@project, activity.task) unless activity.task.nil?
  %td= activity.observation
  %td= "#{activity.cost} €"
  %td= [link_to("<i class='fi-pencil'></i>".html_safe, edit_project_activity_path(@project, activity)), link_to("<i class='fi-x'></i>".html_safe, project_activity_path(@project, activity), method: :delete, data: { confirm: t(:confirm, scope: 'actions') })].join(' ').html_safe