<%= simple_form_for([@project, @activity], url: project_activities_path, remote: :true, class: 'activity_form') do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :num_hours, label_html: { class: 'text-right middle' } %><br>
    <%= f.association :worker, label_method: :name %><br>
    <%= f.association :task, label_method: :label %><br>
    <%= f.input :observation %><br>
    <%= f.input :date_activity, as: :string, input_html: { type: 'datetime' } %><br>
    <%= f.button :submit %>
<% end %>
