<p id="notice"><%= notice %></p>

<p>
  <strong><%=	t(:num_hours) %>:</strong>
  <%= @activity.num_hours %>
</p>

<p>
  <strong><%=	t(:worker) %>:</strong>
  <%= @activity.worker %>
</p>

<p>
  <strong><%=	t(:task) %>:</strong>
  <%= @activity.task %>
</p>

<p>
  <strong><%=	t(:observation) %>:</strong>
  <%= @activity.observation %>
</p>

<p>
  <strong><%=	t(:date) %>:</strong>
  <%= @activity.date_activity %>
</p>

<%= link_to t(:edit), edit_activity_path(@activity), class: 'button' %>
<%= link_to t(:back), activities_path, class: 'secondary button' %>
